{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>

    <table class="table table-primary">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Photo de profil</th>
                <td><img style="max-width: 500px;" src=" {{ vich_uploader_asset(user, 'imageFile') }} "></td>
            </tr>

        </tbody>
    </table>


    <a href="{{ path('app_profile_edit') }}">Modifier le profil</a>

{% endblock %}
