{{ form_start(form) }}
    {{ form_row(form.titre,{'attr': {'class': 'form-control'}})}}
    {{ form_row(form.content,{'attr': {'class': 'form-control'}})}}
    {{ form_row(form.categorie,{'attr': {'class': 'form-control'}})}}
    {{ form_row(form.user,{'attr': {'class': 'form-control'}})}}

    <button class="btn btn-primary mt-2">{{ button_label|default('Publier') }}</button>
{{ form_end(form) }}
