{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    <table class="table table-primary">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    <a href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}">Voir plus</a> |
                    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}"> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_categorie_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
